* {
    background:                     #623a43;
    background-alt:                 #623a43;
    foreground:                     #895a6c;
    border:               			#e78c6d;
    border-alt:               		#5c6d72;
    selected:               		#e78c6d;
    urgent:                         #4453FF;
}
