/* Hide window MAX MIN CLOSE buttons */
.titlebar-buttonbox-container {
    display: none;
}

/* Hide toolbar spacers */
#titlebar .titlebar-spacer {
    display: none !important;
}

#navigator-toolbox {
    background-color: var(--dark-gray) !important;
}
#TabsToolbar {
    padding: 4px !important;
}

#toolbar-menubar {
    color: var(--moonlight-gray-10) !important;   
}

.tabbrowser-tab .tab-stack {
    background: var(--black) !important;
    border: 1px solid var(--black) !important;
    margin: 2px !important;
    border-radius: 3px !important;
    color: var(--light-gray) !important;
    transition: background-color, border-color 250ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
.tabbrowser-tab .tab-background {
    border: none !important;
    transition: background-color, border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
.tabbrowser-tab::after {
    display: none !important;
}
.tabbrowser-tab:hover .tab-stack{
    /* border-color: var(--red) !important; */
    color: var(--white) !important; 
}
.tabbrowser-tab:hover .tab-background {
    background: var(--middle-gray) !important;
}
.tabbrowser-tab[selected] .tab-stack {
    border-color: var(--dark-gray) !important;
    color: var(--white) !important;
}
.tabbrowser-tab[selected] .tab-background {
    background: var(--dark-gray) !important;
}
.tab-background .tab-line {
    display: none;
}
.tabbrowser-tab .tab-text {
    opacity: 1 !important;
}
.tabbrowser-tab .close-icon {
    fill: var(--light-gray) !important;
    transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
.tabbrowser-tab:hover .close-icon {
    fill: var(--dark-red) !important;
    fill-opacity: 0 !important;
}
#tabs-newtab-button .toolbarbutton-icon {
    width: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
    margin-top: 1px !important;
}
